@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-bg-color: #f5f5f5;
  font-size: clamp(0.9375rem, calc (0.9119rem + 1.5vw), 4rem);
  font-family: "Montserrat", "Roboto", sans-serif;
}
a {
  text-decoration: none; /* remove o sublinhado dos links */
  color: black; /* altera a cor de todos os links das páginas */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-bg-color);
}

/************************
 HEADER         
*************************/

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  gap: 30px;
  border: 1px solid #e5e5e5;
  margin: 2vw 0 0 0;
  border-radius: 20px;
  padding: 2px;
}

header nav ul li a {
  padding: 10px 20px;
  border-radius: 20px;
  display: block;
}

header nav ul li a.atual {
  background-color: black;
  color: white;
}

/************************
 BANNER      
*************************/

section.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5vw auto 0 auto;
  width: 80%;
  max-width: 1000px;
}

section.banner h1 {
  /*width: 50%;*/
  font-size: 2.2rem;
}

section.banner span {
  font-weight: bold;
}
section.banner p.gray {
  color: #757575;
}

/************************
 POSTS    
*************************/

section.posts {
  margin: 5vw auto 0 auto;
  width: 80%;
  max-width: 1000px;
}
section.posts ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
section.posts > ul > li {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 4px rgb(158, 158, 158);
  padding: 1vw;
}
section.posts > ul > li h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
section.posts > ul > li p {
  line-height: 1.8rem;
  color: #757575;
}
section.posts > ul > li ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
section.posts > ul > li ul li {
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  padding: 5px;
  background-color: #f5f5f5;
  font-weight: bold;
}
section.posts ul li img {
  max-width: 100%;
}
footer {
  margin: 5vw auto 0 auto;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding: 1vw;
  color: #7c7c7c;
  border: 1px solid #e5e5e5;
}

/************************
 PRODUCTS    
*************************/

section.eco {
  background-color: white;
  margin: 3vw;
  padding: 1vw;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}
section.eco {
  background-color: white;
  margin: 3vw;
  padding: 1vw;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}
section.eco h2 {
  font-weight: bold;
}
section.eco p {
  color: #757575;
  font-size: 70%;
  margin: 1vw 0 1vw 0;
}
section.fin {
  background-color: white;
  margin: 3vw;
  padding: 1vw;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}
section.fin h2 {
  font-weight: bold;
}
section.fin p {
  color: #757575;
  font-size: 70%;
  margin: 1vw 0 1vw 0;
}
section.smart {
  background-color: white;
  margin: 3vw;
  padding: 1vw;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}
section.smart h2 {
  font-weight: bold;
}
section.smart p {
  color: #757575;
  font-size: 70%;
  margin: 1vw 0 1vw 0;
}
section.health {
  background-color: white;
  margin: 3vw;
  padding: 1vw;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}
section.health h2 {
  font-weight: bold;
}
section.health p {
  color: #757575;
  font-size: 70%;
  margin: 1vw 0 1vw 0;
}
section.mentor {
  background-color: white;
  margin: 3vw;
  padding: 1vw;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}
section.mentor h2 {
  font-weight: bold;
}
section.mentor p {
  color: #757575;
  font-size: 70%;
  margin: 1vw 0 1vw 0;
}

/************************
 CONNECT
*************************/

section.links ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
    margin: 5vw auto 0 auto;
  width: 80%;
  max-width: 1000px;
}
section.links ul li a {
  width: 10%;
}
section.links ul li {
  background-color: white;
  padding: 1vw;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
}
section.links ul li svg{
  width: 2.5vw;
}
section.links ul li{
  background-color: white;
  border: 1px solid #cecece;
  border-radius: 15px;
  padding: 15px;
}


/************************
 RESPONSIVIDADE  
*************************/

@media only screen and (max-width: 600px) {
  header nav ul {
    gap: 10px;
  }
  header nav ul li a {
    padding: 5px 10px;
  }
  section.banner {
    display: block;
  }
  section.posts > ul {
    display: block;
  }
  section.eco h2 {
    line-height: 8vw;
    font-weight: bold;
    font-size: 1rem;
  }
  section.eco p {
    font-size: 0.8rem;
  }
  section.fin h2 {
    line-height: 8vw;
    font-weight: bold;
    font-size: 1rem;
  }
  section.fin p {
    font-size: 0.8rem;
  }
  section.links ul{
    display: block;
    margin: 0 5vw;
  }
   section.links ul li{
    margin: 0 5vw;
   }
   section.links ul li svg{
    width: 3vw;
   }
}
